/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
    body {  
      background-color: #EFEFEF;  
      font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif;  
      font-size: 14px;  
    }  
      
    .header_wrapper {  
        width: 880px;  
        margin: 0 auto;  
        overflow:hidden;  
        padding:20px 0;  
    }  
    .logo a{  
        color: #338DCF;  
        float: left;  
        font-size: 48px;  
        font-weight: bold;  
        text-shadow: 2px 2px 2px #FFFFFF;  
        text-decoration:none;  
    }  
	
    #container {  
      width: 800px;  
      margin: 0 auto;  
      background-color: #FFF;  
      padding: 20px 40px;  
      border: solid 1px #BFBFBF;    
    }  
    #login_user_status {  
        float:rightright;      
    }  